
.capdos {
    background-color: rgb(249, 247, 248);
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    padding-bottom: 2vw;    
    border-radius: 1%;
}

.orden-capdos {
    display: flex;
    align-items: center;
    margin-left: 7vw;
}

.caplobo {
    width: 35vw;
    border-radius: 3%;
    box-shadow: 5px 3px 5px black;
}

h2 {
    text-align: center;
    padding: 25px;  
}

p {
    text-align: justify;
    margin-left: 7vw;
    margin-right: 7vw;  
   
}