
body {
    background-color: rgb(246, 176, 189);
}

.intro {
    background-color: rgb(249, 247, 248);
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 2vw;
}

.imagen-intro {
    width: 45vw;
    margin-left: 25vw;
    margin-bottom: 2vw;
}

h2 {
    text-align: center;
    padding: 25px;
    color: rgb(237, 25, 67);
  
}

p {
    text-align: justify;
    margin-left: 7vw;
    margin-right: 7vw;   
}


