
.intro {
    background-color: rgb(249, 247, 248);
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    padding-bottom: 2vw;
    border-radius: 1%;
}

.imagen-intro {
    width: 35vw;
    margin-left: 29vw;
    margin-bottom: 2vw;
    border-radius: 3%;
    box-shadow: 5px 3px 5px black;
}

h2 {
    text-align: center;
    padding: 25px;
    color: rgb(237, 25, 67);
  
}

p {
    text-align: justify;
    margin-left: 7vw;
    margin-right: 7vw;   
}


